# Node Modules
node_modules/

# Environment variables
.env

#Logs
logs/
*.log
/src/generated/prisma

# VsCode setting
.vscode

# Prisma client generated code
/src/generated/prisma/

# Build output
/dist
/build
